* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-image: url("screen.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    background-color: #97ce4c;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;

}

.card img {
    width: 50%;
}

.card .data {
    align-items: center;
    margin-left: 10px;
}
h1 {
    font-size: 20px;
}

img {
    width: 60%;
    border-radius: 5px;
}

.logo {
    max-width: 100%;    
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.data {
    float: right;
align-items: left;
}


.name {
    font-size: 2em,
}

@media screen and (max-width: 600px) {
    .row {
        grid-template-columns: repeat(1, 1fr);
    }
}