* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-image: url("screen.jpg");
    background-attachment: fixed;
    
}

.card {
    background-color: #97ce4c;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    font-size: 20px;
}

img {
    width: 60%;
    border-radius: 5px;
}

.logo {
    max-width: 100%;    
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.data {
    float: right;
align-items: left;
}


.name {
    font-size: 2em,
}